.vs
.vscode
out
CMakeLists.txt
main.cpp
main.exe
interface.so
__pycache__
test.py
record.txt
python/savedGames/*
.*
main
mcts
foreign_models
cpp/dataGeneration
cpp/hyperparamSearch
cpp/dataset